.Customeraddform {
  position: relative;
  width: 100%;
  max-width: 1200px; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  margin: 0 auto; 
}

label {
  display: block;
  margin-bottom: 1rem; 
}

label > span {
  display: block;
  font-size: 1rem; 
  margin-bottom: 0.5rem;
  color: #333;
}

.searchcomp {
  align-self: center;
  width: 100%;
  max-width: 500px; 
  height: 28px;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  background-color: transparent;
  padding: 8px;
  margin: 0 auto; 
}

.search {
  display: none; 
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 8px;
  background-color: transparent;
  font-size: 1rem; 
}

.search-icon {
  margin-left: 8px;
  color: #9e9e9e;
}

.Customerinput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: rgb(247, 181, 15);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem; 
}

button:hover {
  background-color: darkorange; 
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(247, 181, 15);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(247, 181, 15);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.switch-label {
  margin-right: 10px;
}

/* For Tablets */
@media (max-width: 768px) {
  .searchcomp {
      max-width: 80%;
  }
}

/* For Mobile phones */
@media (max-width: 480px) {
  .searchcomp {
      max-width: 100%;
  }

  label > span, button {
      font-size: 0.9rem;
  }
}
