.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.menu {
  background-color: white;
  flex: 1;
  color: #0b0b0b;
  font-size: 18px;
  box-shadow: 5px 0px 5px -6px rgba(0, 0, 0, 0.3);
  text-align: start;
}

.restofpage {
  flex: 5;
  background-color: rgb(236, 230, 225);
  display: flex;
  align-items: center;
  justify-content: center;
}

.allList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.innermenu {
  text-align: start;
  padding-top: 20px;
  width: 100%;
}

.individualList {
  text-align: start;
  height: 55px;
  margin: 8px;
  color: grey;
  cursor: pointer;
  width: 100%;
}

.individualList:hover {
  background-color: rgb(247, 181, 15);
  color: white;
  border-radius: 6px;
}

.innerrest {
  margin: 30px;
  padding: 40px;
  text-align: center;
}

.Topheader {
  font-size: x-large;
  color: rgb(64, 63, 63);
  margin: 20px;
}

.containerforsite {
  list-style-type: none;
  margin: 15px;
}

.indivisuallist {
  margin: 15px;
}

.approvalaccept, .approvaldenied {
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.approvalaccept {
  background-color: rgba(59, 230, 107, 0.5);
  color: green;
  border: 2px solid green;
}

.approvaldenied {
  background-color: rgba(235, 75, 75, 0.5);
  color: red;
  border: 2px solid red;
}

/* Mobile views */
@media (max-width: 768px) {
  .container {
      flex-direction: column; /* Stack menu and main content vertically */
  }

  .menu, .restofpage {
      width: 100%;
  }

  .Topheader, .individualList {
      font-size: medium; /* Adjust size for mobile readability */
  }
}

/* Tablet views */
@media (min-width: 769px) and (max-width: 1024px) {
  .menu {
      flex: 2; /* Give more space for the menu on tablet */
  }

  .restofpage {
      flex: 4; 
  }
}
