body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.leftside {
  background-color: rgb(247, 181, 15);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2em;
}

.rightside {
  background-color: white;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Regform {
  width: 60%;
  background: #fff;
  padding: 40px;
  position: relative;
}

.input-group {
  position: relative;
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.input-group:nth-child(1),
.input-group:nth-child(2) {
  display: inline-block;
  width: calc(50% - 10px);
}

.input-group:nth-child(2) {
  margin-left: 20px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: rgb(247, 181, 15);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #f5a623;
}

.centertext {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.alreadyaccount {
  text-decoration: none;
  color: blue;
}

.accountquestion {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .leftside, .rightside {
      flex: none;
      width: 100%;
  }
}
